/* 메인 페이지 스타일 */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-image: url('./pic/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: #ED574D;
    color: white;
    text-align: center;
    padding: 20px;
}

.logo {
    font-size: 2em;
    font-weight: bold;
}

.artist-lineup {
    display: flex;
    overflow-x: hidden; /* 기본적으로 수평 스크롤 숨김 */
    margin: 20px;
    padding: 10px 0; /* 상하 여백 추가 */
    position: relative; /* 스크롤 활성화를 위해 relative로 설정 */
}

.artist-lineup:hover {
    overflow-x: auto; /* 마우스 오버 시 수평 스크롤 가능 */
}

.artist-lineup img {
    height: auto; /* 이미지 크기를 조정하지 않음 */
    max-height: 300px; /* 최대 높이 설정 (원하는 값으로 조절 가능) */
    margin: 0 10px; /* 이미지 사이에 여백 추가 */
    border-radius: 8px;
    transition: border-color 0.3s ease; /* 부드러운 테두리 변화 */
}

.artist-lineup img:hover {
    border: 5px solid white; /* 마우스 오버 시 테두리 색 변경 */
}

.user-comment {
    text-align: center;
    margin: 20px 0;
}

.hashtags {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.booth-ranking {
    margin: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

/* Chrome, Safari, Edge에서 스크롤바 스타일링 */
.artist-lineup::-webkit-scrollbar {
    width: 0; /* 스크롤바 너비 0으로 설정 */
}
